
 <nav class="navbar navbar-expand-lg navbar-light bg-trasparent ">
        <a class="navbar-brand" routerLink="/sign-up">
          <img class="logoSize" src="assets/svg/035-wallet-1.svg" alt=""/>
        </a>
    <a class="navbar-brand" href="#">Tellaw App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse text-dark" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto ">
        <li class="nav-item">
          <a class="text-dark nav-link" aria-current="page" routerLinkActive="router-link-active" >Home</a>
        </li>
        
        <li class="nav-item">
          <a  class="text-dark nav-link" [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="text-dark nav-link" [routerLink]="['/history']" routerLinkActive="router-link-active" > History</a>
        </li>
        <li class="nav-item">
          <a class="text-dark nav-link" [routerLink]="['/wallets']" routerLinkActive="router-link-active" >Wallets</a>
        </li>
        
        <li class=" nav-item">
          <a class="text-dark nav-link " [routerLink]="['/sign-in']" routerLinkActive="router-link-active" >Sign Out</a>
        </li>
      </ul>
    </div>
  </nav>