<app-navbar></app-navbar>
        <div class="container-fluid my-2">
            <div class="row">
                <div class="col-md-7 mx-auto">
                    <h2 class="text-center">Transaction History</h2>
                    <div *ngIf="userHistory.length<1;then empty else userHistor">
                    </div>
                    <ng-template #empty>
                      <p class="text-center">You have no history yet</p>
                    </ng-template>
                    <ng-template #userHistor>
                      <div
                        class=" text-light gradForRequests my-2 px-2" *ngFor="let history of userHistory;let i=index" (click)="viewMore(i)"
                        data-toggle="modal" data-target="#exampleModal">
                        <span>{{history.description}}</span>
                        <span class="float-right" [ngClass]="history.transactionType=='credit'?'text-success':'text-danger' " > {{history.transferAmount|currency:"NGN":'symbol-narrow'}} </span>
                        <br>
                        <span class=""> {{history.date}} </span>
                        <span class="float-right"> {{history.time}} </span>
                        <!-- <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">See More</a>  -->
                    </div>
                    </ng-template>
                    
                    <!-- <button class=" btn-info" data-toggle="modal" data-target="#viewHistoryModal"></button> -->
                </div>
            </div>
        </div>

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Transaction History</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <h5 class="modal-title" id="exampleModalLabel">Transaction Details</h5>
            <p>Name: {{name}}</p>
            <p>Account Number : {{accountNumber}}</p>
            <p>Description: {{transactionDescription}} </p>
            <p>Date: {{date}}</p>
            <p>Time: {{time}}</p>
            <p >Amount: {{transactionAmount}}</p>
            <p>Reference Number: {{referenceNumber}}</p>
            <p>Transaction Type: {{transactionType}}</p>
            <!-- <div [class]="chat.Id==senderUniqueId?'sentChat':'receivedChat'" class="sentChat" *ngFor="let chat of frontEndMessages">
                {{chat.message}}
             </div> -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger shadow-2" data-dismiss="modal">Close</button>
          <button type="button" class="gradForRequests btn btn-primary" data-dismiss="modal">Seen</button>
        </div>
      </div>
    </div>
  </div>
  
  
       
  <!-- <p>Description {{historyClicked.description}} </p>
  <p>Date {{historyClicked.transferAmount}}</p>
  <p>Date {{historyClicked.referenceNumber}}</p>
  <p>Date {{historyClicked.date}}</p>
  <p>Date {{historyClicked.time}}</p>
  <p>Date {{historyClicked.transactionType}}</p> -->