.gradForRequests{
  background:linear-gradient(to bottom right,rgb(64, 50, 192),rgb(32,20,139));
  outline: none;
   border: none;
  box-shadow: 2px 2px 4px black;
}
.gradForRequests:active{
  position: relative;
  top: 2px;
  box-shadow: inset 2px 2px 10px rgb(116, 113, 113);
}
.gradForRequests:hover{
  background:linear-gradient(to bottom right,rgb(25, 15, 116),rgb(32,20,139));
}
.debit{
  color: red;
}
.credit{
  color: green;
}
