.gradForRequests{
    background:linear-gradient(to bottom right,rgb(64, 50, 192),rgb(32,20,139));
    outline: none;
     border: none;
    box-shadow: 2px 2px 4px black;
    
  }
  .hover:hover{
    transform: translateY(-3px);
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.35);
}
