<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 gradback shadow-lg vh-100 d-none d-md-block">
            <img class="imgsize" src="assets/svg/signup.svg" alt="">
        </div>
        <div class="col-md-6 gradback vh-100">
            <h3 class="text-center">Welcome to the Tellaw App</h3>
           
            <div class="shadow rounded py-4 px-4 my-4">
                <h3 class="mx-auto text-center py-2">Sign Up</h3>
                <form (submit)="signUp()" action="" [formGroup]="userForm">
                <input formControlName="firstName" class="form-control my-2" type="text" placeholder="First Name">
                <input formControlName="lastName" class="form-control my-2" type="text" placeholder="Last Name">
                <input formControlName="phoneNumber" class="form-control my-2" type="text" placeholder="Phone Number">
                <input formControlName="email" class="form-control my-2" type="text" placeholder="Email">
                <input formControlName="password" class="form-control my-2" type="text" placeholder="Password">
                <button class="btn btn-info w-100">Submit</button>
                <br>
                <a class="px-1 text-white" [routerLink]="['/sign-in']" routerLinkActive="router-link-active" >I have an account Already</a>
                </form>
            </div>
            
        </div>
    </div>
</div>